.DS_Store
.env
**/.env
02_Source/01_Source Code/backend/bin
02_Source/01_Source Code/backend/build
02_Source/01_Source Code/backend/.gradle
.vscode/settings.json
POC/backend/bin
POC/backend/build
POC/backend/.gradle
02_Source/01_Source Code/backend/build/classes/java/main/com/erplite/inventory/InventoryApplication.class
02_Source/01_Source Code/backend/build/tmp/compileJava/previous-compilation-data.bin
02_Source/01_Source Code/backend/build/reports/problems/problems-report.html
